# Created by venv; see https://docs.python.org/3/library/venv.html
# Виртуальное окружение
venv/
pycache/
*.pyc

# Редакторы
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Файлы истории (мы их отслеживаем)
# history.json - не игнорируем!

